body {
    font-family: 'Montserrat', sans-serif;
}

.home div {
    top: 28vh;
    font-size: 6rem;
    width: 45%;
    height: 40%;
    left: 40vw;
    z-index: 3;

}

.home div:nth-child(3) {
    background: #eddaebf2;
    z-index: 1;
    top: 10vh;
    width: 500px;
    height: 500px;
    left: 40vw;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.home div:nth-child(4) {
    background: #282a2c;
    
    z-index: 2;
    top: 25vh;
    width: 200px;
    height: 200px;
    left: 48vw;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.new-collection {
    font-size: 6em;
    text-align: center;
}


.t-shirt{
    position: relative;
    left: 0%;
    top:-40%;
}
.shoes{
    position: relative;
   
    top:30%;
}
.star1 {
    background: #eddaebf2;
    position: absolute;
    top: -5%;
    left: 0%;
    width: 400px;
    height: 400px;
    z-index: -1;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star2 {
    background: #eddaebf2;
    position: absolute;
    top: -20%;
    left: 50%;
    width: 400px;
    height: 400px;
    z-index: -1;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star3 {
    background: #282a2c;
    position: absolute;
    bottom: -100%;
    left: 20%;
    width: 400px;
    height: 400px;
    z-index: -1;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

/*
.our-story p:first-of-type {
    font-size: 2em;
}
.our-story div:nth-child(2) {
    margin-left: 70%;
    margin-top: 20%;
}

.our-story img:first-of-type {
    position: absolute;
    z-index: -1;
    width: 20%;
    top: 90%;
}

.our-story img:nth-of-type(2) {
    position: absolute;
    z-index: -1;
    width: 20%;
    top: 60%;
    left: 40%;
}

.our-story img:nth-of-type(3) {
    position: absolute;
    z-index: -1;
    width: 20%;
    right: 10%;
    top: 0;
}

.our-story img:nth-of-type(4) {
    position: absolute;
    z-index: -2;
    width: 20%;
    right: 20%;
    top: 20%;
}
*/
.star {
    width: 100px;
    height: 100px;
    background: #eddaebf2;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star+p {
    position: absolute;
    top: 38%;
    left: 3%;
}

.fas {
    color: #eddaebf2;
}

#iconContainer {
    width: 30vw;
    height: 30vh;
    text-align: center;
    margin: 20vh auto;
}

html {
    scroll-behavior: smooth;
}

.card-img-top {
    height: 22rem;
    object-fit: cover;
    object-position: 0 0;
}

.all {
    display: flex;
    top: 80rem;
    z-index: -1;

}

.img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}


.img1 {
    flex: 0.6666;
}

.img2 {
    flex: 0.6666;
}

.img3 {
    flex: 0.6365;
}

.img4 {
    flex: 0.5006;
}
@media screen and(max-width:576px){
    .card-img-top{
        height: 30rem;
    }
}